* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: tahoma;
  padding-top: 0px;
}
.clear {
  clear: both;
}
/* Khi header được fixed */
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
/*  */
#header {
  height: 53px;
  width: 1280px;
  border-bottom: 1px solid #bdbbbb;
}

.header-logo {
  height: 52px;
  width: 58px;
  float: left;
}
.header-logo img {
  height: 80%;
  width: 90%;
  margin-top: 5px;
  margin-left: 3px;
}
.header-name {
  float: left;
  margin-left: 10px;
  height: 52px;
  width: 260px;
}
.header-name h3 {
  line-height: 15px;
}
.header-menu {
  float: left;
  width: 780px;
  height: 52px;
}
.header-menu ul {
  width: 750px;
  height: 100%;
}
.header-menu ul li {
  float: left;
  margin-left: 50px;
  list-style: none;
}
.header-menu a {
  text-decoration: none;
  color: #686868;
  font-weight: bold;
}
.button-dangnhap-header {
  height: 52px;
  width: 145px;
  float: left;
}
.button-dangnhap-header input {
  margin-top: 8px;
  margin-left: 20px;
  height: 36px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-weight: 600;
}
.button-dangnhap-header input:hover {
  background-color: rgb(32, 32, 32);
}

#content {
  height: 4300px;
  width: 100%;
}
.truongtieuhoctuonglai {
  width: 90%;
  height: 398px;
  background-color: rgb(249, 249, 249);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
}
.truongtieuhoctuonglai-left {
  margin-top: 68px;
  margin-left: 38px;
  width: 40%;
  height: 300px;
  float: left;
}
.truongtieuhoctuonglai-left input {
  margin-top: 8px;
  height: 36px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-weight: 600;
}
.truongtieuhoctuonglai-left input:hover {
  background-color: rgba(0, 0, 0, 0.849);
}
#button-timhieuthem {
  color: black;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  border: 1px solid #ddd;
}
#button-timhieuthem:hover {
  background-color: rgb(233, 233, 233);
}
.truongtieuhoctuonglai-right {
  width: 32%;
  height: 320px;
  margin-right: 50px;
  margin-top: 40px;
  float: right;
}
.truongtieuhoctuonglai-right img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.vetruongchungtoi {
  width: 90%;
  height: 610px;
  background-color: rgb(250, 250, 250);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding-top: 15px;
}
.vetruongchungtoi-top {
  text-align: center;
  margin: 30px 0;
}

.vetruongchungtoi-top h1 {
  margin-bottom: 15px;
  color: #111;
}

.vetruongchungtoi-top p {
  color: #555;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.6;
}

.vetruongchungtoi-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.vetruongchungtoi-bottom-left {
  width: 400px;
  margin-left: 50px;
}

.vetruongchungtoi-bottom-left-thing {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.vetruongchungtoi-bottom-left-thing-icon {
  font-size: 28px;
  color: #000000;
  margin-right: 10px;
  margin-top: 25px;
  width: 40px;
  text-align: center;
}

.vetruongchungtoi-bottom-left-thing-text h4 {
  font-size: 14pt;
  margin-bottom: 0px;
  color: #111;
}

.vetruongchungtoi-bottom-left-thing-text p {
  font-size: 16px;
  color: #555;
  line-height: 1;
}

.vetruongchungtoi-bottom-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
}

.vetruongchungtoi-bottom-right img {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chuongtrinhgiaoduc {
  text-align: center;
  width: 90%;
  height: 780px;
  background-color: rgb(250, 250, 250);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px 30px;
}

.chuongtrinhgiaoduc-top h1 {
  margin-bottom: 10px;
}

.chuongtrinhgiaoduc-top p {
  color: #555;
  margin-bottom: 50px;
}

.chuongtrinhgiaoduc-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 50px;
}

.box {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  background: #fff;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.box i {
  font-size: 28px;
  color: #000;
  margin-bottom: 5px;
}

.box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.box p {
  color: #555;
  margin-bottom: 10px;
}

.box ul {
  margin-left: -15px;
  color: #444;
}

.box ul li {
  margin-bottom: 6px;
}

.doingugiaovien {
  width: 90%;
  height: 560px;
  background-color: rgb(248, 248, 248);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px 30px;
}

.doingugiaovien-top {
  text-align: center;
  margin-bottom: 40px;
}

.doingugiaovien-top h1 {
  margin-bottom: 10px;
}

.doingugiaovien-top p {
  color: #555;
  line-height: 1.5;
}

.doingugiaovien-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.doingugiaovien-bottom-left {
  flex: 1;
  width: 360px;
}

.doingugiaovien-bottom-left-label label {
  display: inline-block;
  background-color: #e6e6e6;
  color: #111;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.doingugiaovien-bottom-left-text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  margin-top: 50px;
  margin-bottom: 30px;
}

.doingugiaovien-bottom-left-text p {
  color: #555;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 30px;
}

.doingugiaovien-bottom-left-list ul {
  margin-top: 15px;
  padding-left: 20px;
}

.doingugiaovien-bottom-left-list li {
  margin-bottom: 8px;
  color: #000000;
  font-size: 15px;
}

.vetruongchungtoi-bottom-right {
  flex: 1;
  width: 450px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.vetruongchungtoi-bottom-right img {
  width: 100%;
  height: 68%;
  border-radius: 15px;
  object-fit: cover;
}

.cosovatchat {
  width: 90%;
  height: 500px;
  background-color: rgb(245, 245, 245);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px 30px;
}
.cosovatchat-top {
  text-align: center;
  margin-bottom: 40px;
}

.cosovatchat-top h1 {
  color: #111;
  margin-bottom: 10px;
}

.cosovatchat-top p {
  color: #555;
  line-height: 1;
}

.cosovatchat-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cosovatchat-bottom-left {
  flex: 1;
  max-width: 48%;
  height: 300px;
  margin-top: 20px;
}

.cosovatchat-bottom-left img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.cosovatchat-bottom-right {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-right: 68px;
}

.cosovatchat-bottom-right-thing {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: -15px;
}

.cosovatchat-bottom-right-thing-icon i {
  font-size: 24px;
  color: #000;
  margin-top: 25px;
}

.cosovatchat-bottom-right-thing-text h4 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  margin-bottom: -10px;
}

.cosovatchat-bottom-right-thing-text p {
  font-size: 14px;
  color: #555;
  line-height: 1.2;
}

.thanhtichnoibat {
  text-align: center;
  width: 90%;
  height: 580px;
  background-color: rgb(251, 251, 251);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px 30px;
}

.thanhtichnoibat-top h1 {
  color: #111;
  margin-bottom: 10px;
}

.thanhtichnoibat-top p {
  color: #555;
  line-height: 1;
}

.thanhtichnoibat-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  flex-wrap: wrap;
}

.thanhtichnoibat-middle-item {
  flex: 1;
  min-width: 200px;
}

.thanhtichnoibat-middle-item h2 {
  font-size: 30px;
  font-weight: 700;
  color: #111;
  margin-bottom: 5px;
}

.thanhtichnoibat-middle-item p {
  font-size: 15px;
  color: #555;
}

.thanhtichnoibat-bottom {
  display: flex;
  justify-content: center;
  gap: 68px;
  flex-wrap: wrap;
}

.thanhtichnoibat-bottom-box {
  background-color: #fff;
  border: 1px solid #b9b9b9;
  border-radius: 15px;
  padding: 25px 20px;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.thanhtichnoibat-bottom-box i {
  font-size: 28px;
  color: #111;
  margin-bottom: 15px;
}

.thanhtichnoibat-bottom-box h4 {
  font-size: 17px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.thanhtichnoibat-bottom-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.thanhtichnoibat-bottom-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lienhechungtoi {
  width: 90%;
  height: 680px;
  background-color: rgb(251, 251, 251);
  margin: 0 3%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 15px 60px;
}

.lienhechungtoi-top {
  text-align: center;
  margin-bottom: 50px;
}

.lienhechungtoi-top p {
  color: #555;
  margin-top: 10px;
}

.lienhechungtoi-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.lienhechungtoi-left {
  flex: 1;
}

.lienhechungtoi-left h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.lienhechungtoi-left p {
  margin: 4px 0;
  color: #333;
}

.lienhechungtoi-left ul {
  margin-top: 10px;
  padding-left: 20px;
}

.lienhechungtoi-right {
  flex: 1;
}

.lienhechungtoi-right form {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px 25px;
}

.lienhechungtoi-right h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.lienhechungtoi-right p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.lienhechungtoi-right label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.lienhechungtoi-right input,
.lienhechungtoi-right textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.lienhechungtoi-right textarea {
  border-radius: 15px;
}

.lienhechungtoi-right button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.lienhechungtoi-right button:hover {
  background-color: #333;
}

#footer {
  height: 53px;
  width: 100%;
  border-top: 1px solid #bdbbbb;
}
.footer-logo {
  height: 52px;
  width: 58px;
  float: left;
}
.footer-logo img {
  height: 80%;
  width: 90%;
  margin-top: 5px;
  margin-left: 3px;
}
.footer-name {
  float: left;
  margin-left: 10px;
  height: 52px;
  width: 550px;
}
.footer-name h5 {
  line-height: 12px;
}
.button-dangnhap-footer {
  height: 52px;
  width: 145px;
  float: right;
  margin-right: 80px;
}
.button-dangnhap-footer input {
  margin-top: 8px;
  margin-left: 20px;
  height: 36px;
  width: 120px;
  border-radius: 15px;
  border-color: #686868;
  background-color: white;
  color: black;
  font-size: 12pt;
  font-weight: 600;
}
.button-dangnhap-footer input:hover {
  background-color: rgb(242, 242, 242);
}
