body {
  font-family: "Segoe UI", sans-serif;
  background: #fefefe;
  margin: 0;
}

.navbar {
  background: white;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.logo {
  font-weight: 500;
  color: #1d4ed8;
}

.logo span {
  color: black;
  font-size: 16pt;
  margin-left: 5px;
}

.logout-btn {
  width: 130px;
  display: flex;
  align-items: center;
  gap: 10px; /* khoảng cách giữa icon và chữ */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #ddd;
}
.logout-btn a {
  text-decoration: none;
  color: #000;
}

.menu {
  background: #ececec;
  display: flex;
  padding: 6px 8px;
  margin: 0px 23px;
  border-radius: 12px;
}

.menu-btn {
  background: #ececec;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15pt;
  transition: 0.2s;
  width: 16.6%;
}

.menu-btn.active {
  background: #ffffff;
}

.content {
  padding: 24px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* Tổng quan cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card img {
  float: right;
  width: 38px;
  height: 35px;
  margin-top: -25px;
}
.lophoc img {
  float: right;
  width: 45px;
  height: 35px;
  margin-top: -25px;
}

.chuyencan img {
  float: right;
  width: 45px;
  height: 35px;
  margin-top: -5px;
}

.card h3 {
  margin: 0;
  font-size: 16px;
}

.card .number {
  font-size: 28px;
  margin-top: 36px;
  margin-bottom: 0px;
  font-weight: 680;
}

.card span {
  font-size: 10pt;
  font-weight: lighter;
}

.recent-activity {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0px 25px;
  padding-bottom: 28px;
  background-color: #fff;
  margin-top: 30px;
}

.recent-header h2 {
  font-size: 18pt;
  font-weight: 700;
  margin-bottom: 4px;
}

.recent-header h5 {
  font-size: 13px;
  font-weight: 400;
  color: #888;
  margin-top: -1px;
  margin-bottom: 20px;
}

.activity-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.activity-item:last-child {
  border-bottom: none;
}

.activity-info p {
  margin: 0;
  font-size: 15px;
  color: #222;
}

.activity-info span {
  font-size: 12px;
  color: #999;
}

.tag {
  width: 100px;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  margin-right: 20px;
  font-size: 13px;
  cursor: default;
  transition: 0.2s;
  font-weight: 500;
}

.tag-gray {
  background-color: #eae6e5de;
  color: #333;
}

.tag-outline {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}

.tag-black {
  background-color: #000;
  color: #fff;
}

/* Học sinh table */
#student {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-bottom: 20px;
}

.student-header {
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.student-header h3 {
  padding-left: 20px;
}
.student-header span {
  padding-left: 20px;
  margin-top: -25px;
  font-size: 10pt;
  font-weight: lighter;
}

.student-actions {
  display: flex;
  gap: 8px;
  padding-top: 10px;
  padding-left: 20px;
}

.student-actions input,
select {
  padding: 8px 10px;
  background-color: #ececec;
  border: none;
  border-radius: 8px;
}
.student-actions input {
  width: 65%;
}
.student-actions select {
  width: 15%;
}
.add-btn {
  width: 15.6%;
}
.add-btn i {
  margin-right: 25px;
}

.add-btn {
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 500;
}
.add-btn:hover {
  background-color: #222;
}

.student-table {
  width: 97%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 0 20px;
}

.student-table th,
.student-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.status.active {
  background: #dcfce7;
  color: #16a34a;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 13px;
}

.actions button {
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  font-size: 25px;
  color: #333;
  transition: color 0.2s ease;
}
.actions button i {
  font-size: 20px;
}

.actions button:hover {
  background-color: #ececec;
}

#class {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-bottom: 20px;
}

.class-header {
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.class-header h3 {
  padding-left: 20px;
}
.class-header span {
  padding-left: 20px;
  margin-top: -25px;
  font-size: 10pt;
  font-weight: lighter;
}

.class-actions {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
.addclass-btn {
  width: 15%;
  height: 32px;
  margin-left: 56%;
}
.addclass-btn i {
  margin-right: 25px;
}

.addclass-btn {
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 500;
}
.addclass-btn:hover {
  background-color: #222;
}
.class-actions img {
  width: 30px;
  height: 30px;
}
.class-actions h4 {
  font-size: 12pt;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 38px;
  font-weight: 500;
}

.class-table {
  width: 97%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 0 20px;
}

.class-table th,
.class-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.status.activeclass {
  background: #000000;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 600;
}

#teacher {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-bottom: 20px;
}

.addteacher-btn {
  width: 15%;
  height: 32px;
  margin-left: 66%;
}
.addteacher-btn i {
  margin-right: 25px;
}

.addteacher-btn {
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 500;
}
.addteacher-btn:hover {
  background-color: #222;
}

.status.activeclass1 {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 600;
}

#event {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-bottom: 20px;
}

.event-header {
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.event-header h3 {
  padding-left: 20px;
}
.event-header span {
  padding-left: 20px;
  margin-top: -25px;
  font-size: 10pt;
  font-weight: lighter;
}

.event-actions {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
.addevent-btn {
  width: 15%;
  height: 32px;
  margin-left: 55%;
}
.addevent-btn i {
  margin-right: 25px;
}

.addevent-btn {
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  font-weight: 500;
}
.addevent-btn:hover {
  background-color: #222;
}
.event-actions img {
  width: 30px;
  height: 30px;
}
.event-actions h4 {
  font-size: 12pt;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 38px;
  font-weight: 500;
}
/* Danh sách sự kiện */
.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.listevent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-left: 5px solid #2196f3;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  transition: 0.2s ease;
}
.listevent:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}
.listevent.gray {
  border-left-color: #7a7a7a;
}
.listevent.blue {
  border-left-color: #2196f3;
}

.event-content {
  flex: 1;
}
.eventlist-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}
.eventlist-header h3 {
  font-size: 14pt;
  font-weight: 600;
}

.tag {
  font-size: 9pt;
  font-weight: 500;
  border-radius: 10px;
  padding: 3px 8px;
  margin-right: 0px;
}
.tag.blue {
  background: #e3f2fd;
  color: #1976d2;
  border: 1px solid #ddd;
  width: 58px;
}
.tag.red {
  background: #ffebee;
  color: #c62828;
  border: 1px solid #ddd;
  width: 48px;
}
.tag.purple {
  background: #f3e5f5;
  color: #6a1b9a;
  border: 1px solid #ddd;
  width: 25px;
}
.tag.green {
  background: #ffffff;
  color: #19ce6a;
  border: 1px solid #ddd;
  width: 43px;
}
.tag.gray {
  background: #f3e5f5;
  color: #262626;
  border: 1px solid #ddd;
  width: 26px;
}

.status {
  font-size: 9pt;
  border-radius: 10px;
  padding: 3px 8px;
  color: white;
  font-weight: 500;
}
.status.ended {
  background: #ffffff;
  border: 1px solid #ddd;
  color: #000;
}
.status.upcoming {
  background: black;
}

.event-content p {
  font-size: 11pt;
  color: #444;
  margin: 4px 0 10px;
}
.eventlist-footer {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666;
  font-size: 10.5pt;
}
.eventlist-footer i {
  color: #888;
}

/* Nút hành động */
.eventlist-actions {
  display: flex;
  gap: 8px;
  margin-left: 10px;
}
.eventlist-actions button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.8s;
}
.eventlist-actions button i {
  color: #555;
  font-size: 12pt;
}
.eventlist-actions button:hover {
  background: #f0f0f0;
}

/*Báo cáo*/
.report-top {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-bottom: 20px;
}

.report-top-header {
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.report-top-header h3 {
  padding-left: 20px;
}
.report-top-header span {
  padding-left: 20px;
  margin-top: -25px;
  font-size: 10pt;
  font-weight: lighter;
}

.report-filters {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-group label {
  font-size: 16px;
  font-weight: 600;
}

.filter-group select,
.filter-group input {
  padding: 8px 12px;
  border: none;
  background: #f5f5f5;
  border-radius: 8px;
  font-size: 13px;
  color: #8b8b8b;
  width: 180px;
  outline: none;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-left: 50px;
}

.btn-excel,
.btn-pdf {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.btn-excel:hover,
.btn-pdf:hover {
  background: #f3f3f3;
}

.btn-excel,
.btn-pdf i {
  font-size: 14px;
}

/* Tổng quan cards */
.cards-baocao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.card-baocao {
  background: white;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-baocao img {
  float: right;
  width: 38px;
  height: 35px;
  margin-top: -25px;
}
.card-baocao h3 {
  margin: 0;
  font-size: 16px;
}

.card-baocao .number {
  font-size: 28px;
  margin-top: 36px;
  margin-bottom: 0px;
  font-weight: 680;
}

.card-baocao span {
  font-size: 10pt;
  font-weight: lighter;
}
.chuyencan-hocluc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 20px;
}
.chuyencantheolop,
.phanbohocluc {
  background: white;
  border-radius: 16px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chuyencantheolop {
  float: left;
}
.phanbohocluc {
  float: right;
}

.chuyencantheolop h3,
.phanbohocluc h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.chuyencantheolop span,
.phanbohocluc span {
  font-size: 10pt;
  font-weight: lighter;
}

.xuhuongchuyencan {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
}
.xuhuongchuyencan h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.xuhuongchuyencan span {
  font-size: 10pt;
  font-weight: lighter;
}
.baocaochitiet {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
}
.baocaochitiet h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.baocaochitiet span {
  font-size: 10pt;
  font-weight: lighter;
}

.baocaochitiet-lops {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Segoe UI", sans-serif;
  margin-top: 10px;
}

.chitietlop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 12px 18px;
  background: #fff;
}

.lop-left {
  display: flex;
  align-items: center;
  gap: 80px;
}

.lop-btn {
  border: 1px solid #ddd;
  background: #ffffff;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.lop-info p {
  margin: 0;
  font-size: 14px;
  color: #232323;
}
.lop-info span {
  margin: 0;
  font-size: 14px;
  color: #808080;
}

.lop-right {
  text-align: left;
  margin-right: 30px;
}

.lop-right h3 {
  margin: 0;
  font-size: 18px;
  color: #222;
}

.lop-right span {
  font-size: 13px;
  color: #555;
}

.chuyencantheolop-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.chuyencantheolop-table thead {
  background: #f8f9fa;
}

.chuyencantheolop-table th {
  padding: 10px;
  font-weight: 600;
}

.chuyencantheolop-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.chuyencantheolop-table tr:hover {
  background: #f9f9f9;
}

.comat {
  color: #28a745;
}

.vang {
  color: #dc3545;
}

.muon {
  color: #f39c12;
}

.phanbohocluc-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.phanbohocluc-table thead {
  background: #f8f9fa;
}

.phanbohocluc-table th {
  padding: 10px;
  font-weight: 600;
}

.phanbohocluc-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

.gioi td {
  color: #28a745;
}

.kha td {
  color: #4285f4;
}

.trungbinh td {
  color: #f39c12;
}

.yeu td {
  color: #dc3545;
}

.phanbohocluc-table tr:hover {
  background: #f9f9f9;
}

.xuhuongchuyencan-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.xuhuongchuyencan-table thead {
  background: #f8f9fa;
}

.xuhuongchuyencan-table th {
  padding: 10px;
  font-weight: 600;
}

.xuhuongchuyencan-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

.xuhuongchuyencan-table td:nth-child(2) {
  color: #4285f4;
}

.xuhuongchuyencan-table tr:hover {
  background: #f9f9f9;
}

/* Overlay nền mờ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  padding: 25px 35px;
  display: none;
  z-index: 20;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

.modal-desc {
  font-size: 14px;
  color: #888;
  margin-top: -10px;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  color: #666;
  transition: 0.2s;
}
.close-btn:hover {
  color: #000;
}

/* Form */
.student-form {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  width: 120px;
  font-weight: 500;
  color: #222;
  font-size: 15px;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 8px 12px;
  background: #f6f6f6;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}
.form-group select {
  color: rgb(91, 91, 91);
}

.form-group input:focus,
.form-group select:focus {
  background: #efefef;
}

/* Nút thêm mới */
.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.submit-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #222;
}

.submitUpdate-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.submitUpdate-btn:hover {
  background-color: #222;
}

.overlayclass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

.class-form {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.submitClass-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.submitClass-btn:hover {
  background: #333;
}

.submitClassUpdate-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.submitClassUpdate-btn:hover {
  background: #333;
}

.overlayteacher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
.teacher-form {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.submitTeacher-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.submitTeacher-btn:hover {
  background: #333;
}
.teacher-form .form-group {
  display: flex;
  margin-bottom: 15px;
}

.teacher-form label {
  flex: 0 0 120px;
  font-weight: 500;
  color: #222;
}

.teacher-form input[type="text"],
.teacher-form input[type="email"],
.teacher-form select {
  flex: 1;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2;
  font-size: 14px;
}

.teacher-form select {
  cursor: pointer;
}

/* Checkbox group */
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px 10px;
}

.checkbox-group label {
  font-size: 14px;
  color: #222;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 2px;
}

#checkbox-chunhiem {
  margin-left: -305px;
}
.submitTeacherUpdate-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.submitTeacherUpdate-btn:hover {
  background: #333;
}
.overlayevent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

.event-form {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.addEvent-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.addEvent-btn:hover {
  background: #333;
}

.event-form input[type="text"],
.event-form textarea {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background: #f3f3f3;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}
.event-form textarea {
  width: 68%;
}
.event-form textarea {
  resize: none;
}
.event-type,
.event-typeUpdate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px 25px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-right: 130px;
}
.event-type div,
.event-typeUpdate div {
  gap: 6px;
}
.addEventUpdate-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.addEventUpdate-btn:hover {
  background: #333;
}

#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background: #333;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.success {
  background: #28a745;
}
.toast.error {
  background: #dc3545;
}
.toast.warning {
  background: #ffc107;
  color: #333;
}
