.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/* ------------thanh thông tin---------------- */
#Thanhthongtin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
    color: black;
    border-bottom: 2px solid #ccc;
}
#Thanhthongtin img{
    height: 45px;
    width: 45px;
    object-fit: contain;
}
#Thanhthongtin button{
    height: 35px;
    width: 120px;
    border-radius: 7px;
    font-weight: bold;
   
}
#Thanhthongtin button img{
    height: 15px;
    width: 15px;
    margin-right: 15px;
}
#ThongTin {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 0.2;
}
#ThongTin h4,
#ThongTin h5 {
  margin: 0;
  line-height: 1.2;
}
#ThongTin h5 {
  opacity: 0.9;
}
/* ------------------------------------------------------*/

/* ---------------thanh menu-------------------------- */
#menu{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213, 211, 211);
    padding: 5px 0;
    border-radius: 30px;
}
#menu button{
    background-color: transparent;
    border: none;
    border-radius: 70px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    width: 33%;
    height: 95%;
}
#menu button:hover{
    background-color: white;
    transition: 0.3s;
}

/*-----------------------------------------------------*/
/* ---------------Tong Quan-------------------------- */
#TongQuan{
    margin: 20px;
    background-color: white;
}
/* ---------------thong so-------------------------- */
#thongSo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    border: none;
    padding: 0px 0px;
}
#tongHS , #coMat, #vangMat, #diMuon, #choChamDiem{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 18%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 100%;
    width: 19%;
    margin-left: 0px;
}
#tongHS img{
    height: 25px;
    width: 25px;
   float:right;
   margin-left: 130px;
    margin-top: -5px;
    margin-right: 10px;
}
#vangMat img, #diMuon img{
    height: 25px;
    width: 25px;
   float:right;
   margin-left: 165px;
    margin-top: -5px;
    margin-right: 10px;
}
#choChamDiem img{
    height: 25px;
    width: 25px;
   float:right;
   margin-left: 120px;
    margin-top: -5px;
    margin-right: 10px;
}
#coMat img{
    height: 25px;
    width: 25px;
   float:right;
   margin-left: 115px;
    margin-top: -5px;
    margin-right: 10px;
}
#tongHS h4, #coMat h4, #vangMat h4, #diMuon h4, #choChamDiem h4{
    margin-left: 15px;
    padding: 0px;
     margin-right: 130px;
     display: flex;
     width: 100%;
}
#tongHS p, #vangMat p, #diMuon p, #choChamDiem p{
    color: gray;
    margin-left: 0px;
    margin-right: 130px;
}
#coMat p{
    margin-left: 0px;
    color: gray;
    margin-right: 170px;
}
#tongHS h2, #coMat h2, #vangMat h2, #diMuon h2, #choChamDiem h2{
    margin-left: 0px;
    color: black;
    font-style: bold;
     margin-right: 210px;
}
/*----------------------Lop day---------------------*/
#LopDay{
    height: 40%;
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 50px;
}
#LopDay h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}
.LOP{
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 60%;
    width: 30.5%;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 15px;
    float: left;
}
.LOP button{
    border: 0.5px solid gray;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px ;
    background-color: white;
    height: 18%;
    width: 20%;
    margin-right: 20px;
    cursor: pointer;
}
/*----------------------Hoat Dong---------------------*/
#HoatDong{
    height: 40%;
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 50px;
}
#HoatDong h3,#HoatDong p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}
.HOATDONGGAN{
    height: 20%;
    width: 98%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 10px;
}
/*----------------------DIEM DANH---------------------*/
/*----------------------headerDD---------------------*/
#DieDanh{
    overflow: auto;
    width: 97%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
/*----------------------BODyDD---------------------*/
/*----------------------CHon Thong Tin DD---------------------*/
#ChonLop{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 20%;
}
#Lop,#chonNgay{
    height: 20%;
    width: 100%;
    border-radius: 7px;
}
#chonLopHoc,#Ngay{
    height: 100%;
    width: 100%;
    border-radius: 7px;
}
/*----------------------Thong So Lop---------------------*/
#TSDiemDanh{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin-top: -70px;
}
#DiMuonDD, #Vang, #CoMatDD{
    border-radius: 15px;
    text-align: center;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 80%;
}
/*----------------------Danh Sach Diem Danh---------------------*/
#DanhsachDD{
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
#DanhsachDD table{
    padding: 2px;
    width: 100%;
    height: 10%;
}
#DanhsachDD table td, th{
    margin-left: 2px;
    padding: 2px;
    border-bottom: 2px solid black;
    width: 15%;
    justify-content: space-between;
    text-align: center;
}
.btnGHICHUDD{
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}
#btnLuuDiemDanh{
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
}
#btnLuuDiemDanh i,#btnLuuDiemDanh span{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 10pt;
}
.btnDDDiMuon ,.btnDDVangMat, .btnDDComat{
    background-color: transparent;
    cursor: pointer;
}
/*----------------------btn ghi chú điểm danh---------------------*/
#CuaSoGCDD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    z-index: 1000;
    width: 30%;
    font-size: 12pt;
}
#CuaSoGCDD > div {
    margin-top: 15px;
}
#CuaSoGCDD  > div >span {
    font-weight: bold;
}
#btnluuGCDD{
    margin-top: 20px;
    height: 40px;
    width: 35%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;  

}
#GhichuDD{
    margin-top: 10px;
    height: 100px;
    width: 100%;
    border-radius: 7px;
    resize: none;
}
/*----------------------Suc Khoe---------------------*/
/*----------------------headerSK---------------------*/
#SucKhoe{
    overflow: auto;
    width: 97%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
/*----------------------BodySK---------------------*/   
/*----------------------CHon Thong Tin SK---------------------*/
#ChonLopSK{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 20%;
}
#LopSK,#chonNgaySK{
    height: 20%;
    width: 100%;
    border-radius: 7px;
}
#chonLopHocSK,#NgaySK{
    height: 100%;
    width: 100%;
    border-radius: 7px;
}
#ThemGhichuSK{
    height: 20%;
    width: 30%;
    border-radius: 7px;
    margin-top: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}
/*----------------------Thong So SK---------------------*/
#TSSucKhoe{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin-top: -70px;
}
#AnDuSK, #ChuYSK, #KhoeManhSK, #TQSucKhoe{
    border-radius: 15px;
    text-align: center;
    width: 23%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 80%;
}
/*----------------------Danh Sach Suc Khoe---------------------*/
#DanhsachSK{
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
#DanhsachSK table{
    padding: 2px;
    width: 100%;
    height: 10%;
}
#DanhsachSK table td, th{
    margin-left: 2px;
    padding: 2px;
    border-bottom: 2px solid black;
    width: 15%;
    justify-content: space-between;
    text-align: center;
}
.TinhtrangSK{
    background-color:#D8F6E0 ;color: green;border-radius: 7px;padding: 3px 3px;
}
.TinhtrangSK2{
    background-color:#FFEBD2  ;color: orange;border-radius: 7px;padding: 3px 3px;
}
.TinhtrangSK3{
    background-color:#FFE5E5  ;color: red;border-radius: 7px;padding: 3px 3px;
}
.TinhtrangSK4{
    background-color:#F5F9FF ;color: blue;border-radius: 7px;padding: 3px 3px;
}
.CheDoAnSK{
    background-color:#D8F6E0 ;color: green;border-radius: 7px;padding: 3px 3px;
}
.CheDoAnSK2{
    background-color:#FFEBD2 ;color: orange;border-radius: 7px;padding: 3px 3px;
}
.CheDoAnSK3{
    background-color:#FFE5E5 ;color: red;border-radius: 7px;padding: 3px 3px;
}
.BuaAnSKXong{
   background-color:black;color: white;border-radius: 7px;padding: 3px 3px;
}
.BuaAnSKCXong{
   background-color:red;color: white;border-radius: 7px;padding: 3px 3px;
}
/*----------------------btnThem ghi chú---------------------*/
#CuaSoThemGhiChuSK, #CuaSoSUAGhiChuSK {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    z-index: 1000;
    width: 40%;
    font-size: 12pt;
}

#CuaSoThemGhiChuSK > div,
#CuaSoSUAGhiChuSK > div {
    margin-top: 15px;
}

#CuaSoThemGhiChuSK > div > span,
#CuaSoSUAGhiChuSK > div > span {
    font-weight: bold;
}

#CuaSoThemGhiChuSK input[type="radio"],
#CuaSoSUAGhiChuSK input[type="radio"] {
    transform: scale(1.5);
    margin-left: 100px;
}

#GhichuveĐSK, #GhichuveĐSKSUA {
    margin-left: 18px;
    height: 60px;
    width: 80%;
    border-radius: 7px;
}

#GhichuveTTSK, #GhichuveTTSKSUA {
    margin-left: 35px;
    height: 60px;
    width: 80%;
    border-radius: 7px;
}

#chonHocSinhGhiChuSK,#chonHocSinhGhiChuSKSUA {
    margin-left: 35px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
}

#CuaSoThemGhiChuSK input[type="checkbox"],
#CuaSoSUAGhiChuSK input[type="checkbox"] {
    margin-left: 50px;
}

#btncuasoTGCSK, #btncuasoTGCSKSUA {
    margin-top: 20px;
    height: 40px;
    width: 25%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
/*----------------------Điểm số---------------------*/
/*----------------------headerDS---------------------*/
#DiemSo{
    overflow: auto;
    width: 97%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
/*----------------------BodySK---------------------*/   
/*----------------------CHon Thong Tin SK---------------------*/
#ChonLopDS{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 20%;
}
#LopDS,#MonhocDS{
    height: 20%;
    width: 100%;
    border-radius: 7px;
}
#chonLopHocDS,#chonMonHocDS{
    height: 100%;
    width: 100%;
    border-radius: 7px;
}
#btnXuatEDS, #btnPhieuDiemDS, #btnNhapDiemDS{
    height: 20%;
    width: 30%;
    border-radius: 7px;
    margin-top: 18px;
    cursor: pointer;
}
/*----------------------Thong So DS---------------------*/
#TSDiemSo{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin-top: -70px;
}
#YeuDS, #TBDS, #KhaDS, #GioiDS,#DTBDS,#TQDS{
    border-radius: 15px;
    text-align: center;
    width: 16%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 80%;
}
/*----------------------Danh Sach Điểm Số---------------------*/
#DanhsachDS{
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#DanhsachDS table{
    padding: 2px;
    width: 100%;
    height: 10%;
}
#DanhsachDS table td, th{
    margin-left: 2px;
    padding: 2px;
    border-bottom: 2px solid black;
    width: 15%;
    justify-content: space-between;
    text-align: center;
}
/*----------------------btn nhập điểm---------------------*/
#CuaSoNĐS{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    z-index: 1000;
    width: 30%;
    font-size: 12pt;
}
#CuaSoNĐS > div {
    margin-top: 15px;
}
#CuaSoNĐS > div >span {
    font-weight: bold;
}
#chonHocSinhGhiChuDS{
    margin-left: 25px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
}
#CuaSoNĐS input[type="radio"]{
    transform: scale(1.5);
    margin-left: 30px;
}
#btncuasoTGCDS{
    margin-top: 20px;
    height:40px;
    width:30%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;  

}
#txtDiemSODS{
    margin-left: 35px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
}
#NhanxetblDS{
    margin-left: 28px;
    height: 60px;
    width: 80%;
    border-radius: 7px;
}
.LoaiDiemDS{
    background-color:#F5F9FF ;color: blue;border-radius: 7px;padding: 3px 3px;
}
.LoaiDiemDS2{
    background-color:#D8F6E0 ;color: green;border-radius: 7px;padding: 3px 3px;
}
.LoaiDiemDS3{
    background-color:#FFEBD2 ;color: orange;border-radius: 7px;padding: 3px 3px;
}
.LoaiDiemDS4{
    background-color:#F3E1FF ;color: purple;border-radius: 7px;padding: 3px 3px;
}
/*----------------------Liên lạc---------------------*/
/*----------------------headerLL---------------------*/
#LienLac{
    overflow: auto;
    width: 97%;
    border-radius: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
/*----------------------BodyLL---------------------*/   
/*----------------------Menu LL---------------------*/
#MenuLL{
    background-color: rgb(213, 211, 211);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    height: 5%;
    margin-top: 20px;
    padding: 3px 3px;
}
#MenuLL button{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    width: 33%;
    height: 95%;
}
/*----------------------CHon Thong Tin Liên lạc---------------------*/
#ChonLopLL{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 5%;
}
#LopLL,#TimKiemLL{
    height: 90%;
    width: 100%;
    border-radius: 7px;
}
#chonLopHocLL,#nhapTimKiemLL{
    height: 100%;
    width: 100%;
    border-radius: 7px;
}
#btnSoanTinLL{
    height: 90%;
    width: 30%;
    border-radius: 7px;
    margin-top: 18px;
    cursor: pointer;
}
/*----------------------Hộp thư đến Liên lạc---------------------*/
#HopThuDenLL, #DaGuiLL, #DanhBaLL{
    overflow: auto;
    width: 100%;
    margin-top: 40px;
}
.TinGuiLL{
    display: none;
    border: 1px solid black;
}
.TinDenLL,.DBaLL{
    border: 1px solid black;
}
/*----------------------btn soạn tin---------------------*/
#CuaSoSoanTinLL{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    z-index: 1000;
    width: 30%;
    font-size: 12pt;
}
#CuaSoSoanTinLL > div {
    margin-top: 15px;
}
#CuaSoSoanTinLL > div >span {
    font-weight: bold;
}
#chonPHSTLL{
    margin-left: 10px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
}
#btnCSSTLL{
    margin-top: 20px;
    height:40px;
    width:30%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;  

}
#txttieudeSTLL{
    margin-left: 40px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
}
#TXTNDSTLL{
    margin-left: 28px;
    height: 60px;
    width: 80%;
    border-radius: 7px;
}